.tt{
    color: 123;
background-color: bisque;

}

.ppp{
    color: white;
    background-color: black;

}


.ss{
    color: yellow;
   }
   .ww{

    color: brown;


}
.ti .xx {
color: black;

}

.vc{
    color: black;
}
